<blueprint>

    <alias name="HOST_INST_RENDERER" url="hostInstRenderer.html" />


    <data name="columns" value="prop defineColumns" />
    <data name="records" prop="true" />
    <data name="gridOptions" value="prop defineOptions" />

    <sensor watch="hostInstChartData" run="updateChart" />

    <cog find="grid" url="KATANA_GRID"  />
</blueprint>

<display>
    <div id="grid" />
</display>

<script>

    $.cog({

        init: function() {
        },

        defineOptions: {
            headerHeight: 28,
            rowHeight: 40,
            paneHeight: 280
        },

        defineColumns: [
            { field:"location", title:"Host Instances", flex:"0 0 93px", renderer:"HOST_INST_RENDERER", clickable:true }
        ],

        updateChart: function(hostInstChartData) {
            this.records.write(hostInstChartData);
        }

    });
</script>