<blueprint>
    <prop find="column" />
    <prop find="record" />
    <sensor watch="itemData" run="drawPieChart" auto="true" />
</blueprint>

<display>
    <div id="holder" style="width: 100%; height: 100%; padding: 5px 5px 5px 28px;" >
        <svg id="svg" />
    </div>
</display>

<script>

    $.cog({

        init: function() {
            this.initPieChart();
        },

        initPieChart: function() {
            var w = 30;
            var h = 30;
            var r = h/2;

            var vis = d3.select(this.svg.get(0))
                    .append("svg:svg")
                    .attr("width", w)
                    .attr("height", h)
                    .append("svg:g")
                    .attr("transform", "translate(" + r + "," + r + ")");

            this.node_layer = vis.append("g");
            console.log("this.node_layer:", this.node_layer);
        },

        drawPieChart: function() {
            var self = this;
            var d = self.record.read();
            var data = [];
            data[0] = { label: "up", value: d.up };
            data[1] = { label: "down", value: d.down };
//            console.log("data:", data);

            var w = 30;
            var h = 30;
            var r = h/2;

            var colors = d3.scale.ordinal().range(["#279d00", "#e00025"]);
            var color  = (d.total && !d.mock) ? colors : "#0668a4";

            var pie = d3
                    .layout
                    .pie()
                    .value(function(d){return d.value;});

            // declare an arc generator function
            var arc = d3
                    .svg
                    .arc()
                    .outerRadius(r);

            // select paths & use arc generator to draw
            var arcs = self.node_layer.selectAll("g.slice")
                    .data(pie);

            var arcsEnter = arcs.enter()
                    .append("svg:g")
                    .attr("class", "slice");

            var arcsUpdate = arcsEnter.append("svg:path")
                    .attr("fill", function(d, i){
                        return color(i);
                    })
                    .attr("d", function (d) {
                        return arc(d);
                    });

            arcs.exit().remove();

            function getTipData(){
                var timestamp  = moment(d.localDT).format("MM/DD h:mm A");

                /* concatenate value and percentage; ignore tenths if percentage is 100 */
                var downAmount = (d.downPct < 1) ? numeral(d.downPct).format("0.0%") : "100%";
                var upAmount   = (d.upPct   < 1) ? numeral(d.upPct  ).format("0.0%") : "100%";

                /* formulate tooltip display; ignore percentage if value is zero */
                var downStr    = (d.down)  ? d.down  + " (" + downAmount + ")" : d.down ;
                var upStr      = (d.up)    ? d.up    + " (" + upAmount   + ")" : d.up   ;
                var totalStr   = (d.total) ? d.total + " (100%)"               : d.total;

                /* set tooltip message; indicate when no data is reported */
                var downMsg    = (d.total && !d.mock) ? downStr  : "Not Reported";
                var upMsg      = (d.total && !d.mock) ? upStr    : "Not Reported";
                var totalMsg   = (d.total && !d.mock) ? totalStr : "Not Reported";

                return {
                    id: self.mapItem.uid,
                    title: d.group,
                    items: [
                         { title:"Up Receive Locations",    value:upMsg     }
                        ,{ title:"Down Receive Locations",  value:downMsg   }
                        ,{ title:"Total Receive Locations", value:totalMsg  }
                        ,{ title:"Updated",                 value:timestamp }
                    ]
                };
            }

            self.holder.kodama(getTipData());
        }
    });

</script>