<blueprint>

    <sensor watch="refreshAllFilters" batch="true" run="requestData" autorun="true"></sensor>
    <sensor watch="msgHist" transform="toBuildComps" pipe="compList" auto="true"></sensor>
    <data name="compList" />

    <chain find="holder" url="msgTile.html" source="data compList" item="data compData" />
    <prop find="getOptionItem" is="method" />
    <data name="compOptions" prop="true" />

    <prop find="msgHist" />

</blueprint>

<display>
<div id="holder" class="row" style="margin: 0;"></div>
</display>

<script>

    $.cog({

                msgHistFeed: null,
                init: function(){
                    this.requestData();

                },

                toBuildComps: function(){

                   // this.mapItem.clearContent();

                    var msg = this.msgHist.read();
                    if(!msg)
                        return;

                    var comps = msg.data;

                    comps = _.sortBy(comps, "flowOrder");

                    for(var c in comps) {
                        if(!comps.hasOwnProperty(c)) continue;
                        var comp = comps[c];

                        var messageType = this.getOptionItem('messageType',comp.id.toUpperCase()); // TODO fix case on server api



                        comp.abbr = messageType.abbr;
                        comp.nominal =true;
                        comp.warning = Math.random() < .2;
                        comp.critical = Math.random() < .2;

                        this.formatCompData(comp);
                        if(!comp)
                            throw new Error("grrz");
                        //this.mapItem.appendCog({url:'msgTile.html'},{compData: comp});
                    }

                    return comps;
                },


                formatCompData: function(compData){

                    var compOptions = this.compOptions.read();
                    var unixTimes = [];


                    for(var i=0; i< compData.dt.length;i++){
                        var dt = compData.dt[i];
                        unixTimes.push(moment(dt).unix());
                    }

                    var intervalSeconds;
                    var end = moment(compOptions.end+"Z");
                    end.seconds(0);

                    if(compOptions.interval == "min"){ // nearest five minute below end
                        intervalSeconds = 300;
                        end.minutes(Math.floor(end.minutes()/5) * 5);
                    } else {
                        intervalSeconds = 3600;
                        end.minutes(0);
                    }

                    var start = end.unix();
                    start -= intervalSeconds * (compOptions.count);

                    var props = ["dt","err","b1","b1_avg","b2","b2_avg","b3","b3_avg","completed","no_bt","no_cl","no_dest","no_src","sent"];
                    var seriesData = [];
                    for(var j = 0; j < compOptions.count; j++){ // dropping the last in count to avoid partials
                        var f = {};
                        seriesData.push(f);
                        f.unixTime = start + j * intervalSeconds;
                        var srcIndex = unixTimes.indexOf(f.unixTime);

                        for(var k= 0; k < props.length;k++){
                            var p = props[k];
                            if(srcIndex == -1)
                                f[p] = 0;
                            else
                                f[p] = compData[p][srcIndex];
                        }
                    }

                    // remap onto originals

                    for(var n= 0; n < props.length;n++){
                        var prop = props[n];
                        var arr = compData[prop] = [];
                        for(var m = 0; m < compOptions.count; m++){ // dropping the last in count to avoid partials
                            arr.push(seriesData[m][prop]);
                        }
                    }

                    compData.seriesData = [];
                    var nowTime = moment(new Date()).unix() - (new Date().getTimezoneOffset() * 60);
                    var trimLast=false;
                    for (n=0; n<seriesData.length; n++){
                        if (seriesData[n].unixTime <= nowTime) {
                            compData.seriesData.push(seriesData[n]);
                        }
                        else {
                            trimLast=true;
                        }
                    }
                    if (trimLast) compData.seriesData.pop();

                },

                requestData: function(batch){

                    var options = this.mapItem.createParams({span:"duration",end:"endDateTime",network:"network",app:"sourceApp",dc:"dataCenter",facility:"facility"});

                    var duration = options.span;
                    var endDate = moment(options.end  );
                    endDate.seconds(0);

                    if( duration <= 3600) {
                        options.span = Number(options.span)  ;
                        options.count = Math.round(duration / 300)  ;
                        options.interval = "min";
                        endDate.minutes(Math.floor(endDate.minutes()/5) * 5);
                    } else {
                        options.span = Number(options.span)  ;
                        options.count = Math.round(duration / 3600)  ;
                        options.interval = "hour";
                        endDate.minutes(0);
                    }
                    options.end= endDate.format('YYYY-MM-DDTHH:mm:ss');

                    this.compOptions.write(options);
                    this.msgHist.request(options);
                }

            });

</script>