
<blueprint>

    <alloy url="reconContentState.html" />

    <cog find="breadcrumb" url="breadcrumbTimeless.html" />
    <cog find="actionMenu" url="actionMenu.html" />
    <cog find="sliceMenu" url="reconSliceMenu.html" />
    <cog find="sliceContent" url="data sliceContentPage" />

</blueprint>


<display>
    <div class="reconcile_box">

    <div style="display: flex; width: 100%; height: 20px;">
        <div id="breadcrumb" style="display: flex; "></div>
        <div id="actionMenu" style="display: flex; flex: 1 1; padding-left: 12px; ">  </div>
        <div id="sliceMenu" style="display: flex; flex: 1 1; justify-content: flex-end; "></div>
    </div>
    <div id="sliceContent"> </div>

    </div>
</display>
