<blueprint>
    <data name="uiInputName" />

    <data name="userRules" value="prop dummyRules" prop="true" />
    <data name="selectedRule" prop="true" />
    <data name="commitRule" prop="true" />

    <data name="emailStatus" prop="true" />
    <data name="smsStatus" prop="true" />
    <data name="timebox" prop="true" />

    <data name="cmd_flash" />

    <cog find="ruleList" url="_rulesList.html" />
</blueprint>

<display>
    <div id="alert-config" style="color: rgb(66, 122, 176); display: flex; padding: 0 8px 0 8px;" >
        <div style="flex: 1 2 500px; padding-top: 13px; color: rgb(66, 122, 176);" >
            <div id="rule-list" />
        </div>
        <div style="flex: 1 1 300px; padding: 0 10px 10px 10px;" />
    </div>
</display>

<script>
    $.cog({

        pickData: function pickData(envel) {
            return envel.data
        }

    })
</script>
