<blueprint>
    <prop find="rowData" />
    <sensor watch="rowData" run="render" auto="true" />
</blueprint>

<display>
    <div style="display: flex; width: 100%; height: 100%; ">
        <div id="critical" class="reconcile_aspect_red"    />
        <div id="warning"  class="reconcile_aspect_yellow" />
        <div id="good"     class="reconcile_aspect_green"  />
    </div>
</display>

<script>

    $.cog({

        init: function() {
        },

        segments: [
             { title:"Not Reconciled to Destination",  id:"critical" }
            ,{ title:"Waiting on Source to Reconcile", id:"warning"  }
            ,{ title:"Reconciled",                     id:"good"     }
        ],

        render: function() {
            var self = this;
            var d = self.rowData.read();

            function getTipData(def){
                var count = d[def.title]           || 0;
                var pct   = d[def.title] / d.Total || 0;

                var countMessage = numeral(count).format("0,0");
                var pctMessage   = numeral(pct).format("0.0%") ;

                if (pct > 0.999 && pct < 1) { pctMessage = "99.9+%" }
                if (pct == 1)               { pctMessage = "100%"   }

                return {
                    id: self.mapItem.uid + ":" + def.title,
                    title: def.title,
                    items: [{ title:"Messages", value:countMessage + " (" + pctMessage + ")" }]
                };
            }

            self.segments.forEach(function(s) {
                var segSel = self[s.id];
                segSel.bamboo(getTipData(s));
            });

            for (var i = 0; i < this.segments.length; i++){
                s = this.segments[i];
                var div = this[s.id];
                var count = d[s.title];
                var flexValue = count / d.Total * 100.0;
                div.css("flex", flexValue + " " + flexValue);
            }
        }

    })
</script>